@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  transition: all .5s linear;
  animation-duration: 2s; }

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 120px auto auto auto;
  grid-template-areas: "header header" "a1 a2" "a3 a4" "footer footer";
  justify-items: center;
  justify-content: space-around; }

aside {
  grid-area: a2; }

.galeria {
  grid-area: a3 / span 2; }

.infoMain {
  width: 90%;
  margin: auto; }

h2 {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; }

h3 {
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2% 0; }

h4 {
  font-size: 1.5rem;
  color: #fafcf8;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0; }

.upCase, #navPrincipal li a, form input, textarea {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2%; }

li {
  text-transform: uppercase;
  color: #fafcf8;
  list-style-type: none; }

a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #fafcf8; }

p {
  color: inherit;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.3rem;
  animation-duration: 5s; }

/* HEADER Y NAV */
header {
  animation-duration: 1s;
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.856);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  z-index: 2; }

#logo img {
  width: 120px;
  height: auto;
  margin-left: 70px; }

#Principal {
  width: 100%; }

#navPrincipal {
  padding-right: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: space-evenly;
  justify-content: flex-end; }
  #navPrincipal li {
    padding: 30px; }
    #navPrincipal li a {
      font-size: 1.1rem;
      font-weight: 300; }
      #navPrincipal li a:hover {
        color: yellow;
        border-bottom: 2px solid yellow;
        padding-bottom: 7px; }

#Menu {
  position: absolute;
  top: -100px; }
  #Menu:checked .linea {
    color: yellow; }

nav .icono-menu {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%); }
  nav .icono-menu .linea {
    width: 30px;
    height: 3px;
    background-color: #fafcf8;
    margin: 5px;
    border-radius: 3px; }

#Menu:checked ~ .icono-menu .linea:first-child {
  transform: translateY(8px) rotate(45deg);
  background-color: yellow;
  transition: all .5s linear; }

#Menu:checked ~ .icono-menu .linea:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: yellow;
  transition: all .5s linear; }

#Menu:checked ~ .icono-menu .linea:nth-child(2) {
  opacity: 0; }

/* FOOTER */
footer {
  grid-area: footer footer;
  animation-duration: 5s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #fafcf8;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: black; }
  footer ul {
    margin: 20px 0 5px;
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-left: 7px; }
  footer img {
    height: 25px;
    width: 25px; }
  footer p {
    font-size: 0.5rem; }

/* HOME */
#fondouno {
  background-image: url(../imagenes/Chochin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  color: #fafcf8;
  width: 100%; }
  #fondouno main {
    grid-area: a1 / span 2;
    height: auto;
    width: 100%;
    text-align: center; }

h1 {
  font-size: 5rem;
  color: #fafcf8;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0a0a0ad7;
  line-height: 4.5rem;
  width: 45%;
  margin: 100px auto;
  font-family: 'Oswald', sans-serif; }

.thin, #frase p, .detalle {
  font-weight: 100; }

#botondeli {
  text-transform: uppercase;
  color: #fafcf8;
  list-style-type: none;
  color: #fafcf8;
  border: 2px solid #fafcf8;
  border-radius: 2px;
  padding: 1%;
  font-size: 1.2rem;
  width: 250px;
  margin: auto;
  background-color: rgba(2, 2, 2, 0.445); }
  #botondeli:hover {
    background-color: yellow;
    transition: all .5s linear;
    border: 2px solid yellow; }
  #botondeli:hover a {
    color: black; }

#frase {
  background-color: rgba(250, 252, 248, 0.9);
  width: 90%;
  margin: 2% auto 2%;
  padding: 4%;
  animation-duration: 2s; }
  #frase p {
    color: black;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;
    animation-duration: 5s; }

#reviews {
  background-color: rgba(238, 10, 10, 0.753);
  height: auto;
  padding: 3%;
  overflow: hidden; }

.Carousel {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 3% auto;
  animation: sliding 20s infinite; }
  .Carousel:hover {
    animation-play-state: paused; }

#reseña {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 1%;
  width: 100vw;
  margin: 0; }

.resena {
  font-weight: 100;
  width: 100vw;
  margin: 0 2%; }
  .resena p {
    color: #fafcf8;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    animation-duration: 5s; }

@keyframes sliding {
  0% {
    transform: translateX(0vw); }
  15% {
    transform: translateX(0vw); }
  25% {
    transform: translateX(-90vw); }
  35% {
    transform: translateX(-90vw); }
  50% {
    transform: translateX(-180vw); }
  75% {
    transform: translateX(-180vw); }
  95% {
    transform: translateX(0vw); }
  100% {
    transform: translateX(0); } }

#rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 2% auto; }

.yellow {
  color: yellow; }

.nombreresena {
  padding-top: 1rem;
  font-style: italic;
  font-weight: 600; }

::-webkit-scrollbar {
  background: transparent;
  transition: scroll .3s ease-in-out; }

::-webkit-scrollbar-thumb {
  background-color: rgba(238, 10, 10, 0.753);
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.301) solid; }

#photos {
  background-color: #fafcf8;
  height: auto; }

.galeria {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
  padding: 5%;
  row-gap: 2vw;
  column-gap: 1vw; }

.container_img {
  position: relative;
  width: 280px; }

.imgphoto {
  width: 280px;
  height: 280px;
  object-fit: cover;
  display: block; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease; }

.container_img:hover .overlay {
  opacity: 1; }

.text {
  color: #fafcf8;
  letter-spacing: 3px;
  position: absolute;
  bottom: 60px;
  width: 280px;
  margin: auto; }
  .text p {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center; }
  .text span {
    font-size: 0.4rem;
    letter-spacing: 1px;
    opacity: 0; }

.precio {
  border: none;
  text-decoration: line-through;
  padding-top: 0;
  display: inline-block; }

.descuento {
  color: yellow;
  font-weight: 600;
  display: inline-block; }

.contenedor_icono {
  text-align: center;
  width: 100%; }
  .contenedor_icono button {
    border: none;
    color: #fafcf8;
    font-size: 0.7rem;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.007);
    margin: 3% 0; }
    .contenedor_icono button:hover span {
      opacity: 1; }
    .contenedor_icono button:active img {
      opacity: 0;
      transition: delay 3s; }
    .contenedor_icono button:visited img {
      background-color: black; }

.nota {
  font-size: 0.4rem; }

.like_heart, .comprar {
  filter: invert(100%);
  margin: 5%;
  width: 60%;
  height: auto; }
  .like_heart:hover, .comprar:hover {
    width: 70%; }

#BotonCovid {
  background-color: black;
  position: fixed;
  bottom: 15px;
  left: 15px;
  color: #fafcf8;
  border-radius: 5%; }
  #BotonCovid:hover {
    background-color: rgba(238, 10, 10, 0.753); }

.offcanvas-body {
  color: black;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
  animation-duration: 5s;
  width: 70%;
  margin: auto;
  padding-top: 0; }

.logo-casa {
  width: 40px;
  height: auto; }

.offcanvas-header {
  padding-bottom: 0; }

/* MENU */
.menu {
  background-color: #fafcf8; }

.menu main {
  grid-area: a1;
  width: 90%;
  margin: auto; }

.menu aside {
  grid-area: a2; }

#platos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: space-between;
  justify-content: center;
  column-gap: 2%;
  width: 100%;
  margin: auto;
  position: sticky;
  top: 98px;
  padding: 10px 0; }
  #platos li {
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    padding: 1%;
    width: 100vw;
    background-color: #fafcf8;
    text-align: center; }
    #platos li a {
      color: black;
      font-size: 80%; }
    #platos li:hover {
      color: black;
      background-color: yellow;
      cursor: pointer;
      transition: .5s ease-in-out;
      border: 2px yellow solid;
      cursor: pointer; }

.table {
  width: 90%;
  margin: auto; }

table {
  width: 90%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px 0; }
  table .precio {
    text-decoration: none;
    text-align: center; }

th {
  font-size: 1.25rem;
  text-transform: uppercase;
  border-bottom: 0; }

td {
  border-bottom: 0;
  line-height: 1rem; }

.RowDescripcion {
  font-size: 0.8rem;
  font-weight: 200;
  font-style: italic; }

.ProductoMenu, .precio {
  font-size: 1rem;
  padding-top: 0.5rem;
  border-bottom: 1px dotted rgba(73, 71, 71, 0.411); }

.table-platos {
  display: none; }

.ArtMenu {
  position: fixed;
  top: 100px;
  left: 60%;
  height: 100%;
  z-index: 1; }
  .ArtMenu:hover #textoMenuDia {
    height: 250px;
    bottom: 250px;
    transition: ease-in-out 1s; }
    .ArtMenu:hover #textoMenuDia :nth-child(5) {
      opacity: 1; }

.ArtMenu img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px; }

#textoMenuDia {
  display: block;
  position: relative;
  bottom: 14%;
  height: 14%;
  background-color: rgba(238, 10, 10, 0.753);
  padding: 2%;
  color: #fafcf8;
  text-align: center;
  border-radius: 2px; }
  #textoMenuDia :nth-child(5) {
    opacity: 0;
    padding: 10px; }
  #textoMenuDia h5 {
    margin: 0; }
  #textoMenuDia .precio {
    text-align: center;
    border-bottom: none; }

/*  NOSOTROS */
infoMain p {
  color: black;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  animation-duration: 5s; }

#nosotros main {
  grid-area: a2;
  width: 100%; }

#nosotros aside {
  grid-area: a1;
  width: 100%; }

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }

.media {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.span {
  width: 590px;
  height: 280px;
  background-color: rgba(238, 10, 10, 0.753);
  padding: 2% 3% 2% 3%; }

#nosotros {
  background-color: #fafcf8; }

.textoW, #textoMenuDia :nth-child(5) {
  color: #fafcf8;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.3rem;
  animation-duration: 5s;
  font-weight: 200; }

/* CATERING */
#form_presupuesto {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 2%; }
  #form_presupuesto h5 {
    color: black;
    text-transform: uppercase;
    width: 100%;
    margin: 1% auto; }
  #form_presupuesto #tipo-evento, #form_presupuesto #fecha {
    border: none;
    background-color: #fafcf8; }
  #form_presupuesto #name, #form_presupuesto #email, #form_presupuesto #telefono, #form_presupuesto #tipo-evento, #form_presupuesto #fecha, #form_presupuesto #lugar, #form_presupuesto #submit {
    color: black;
    width: 45%;
    display: inline-block;
    margin: 1%;
    height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
    #form_presupuesto #name:hover, #form_presupuesto #email:hover, #form_presupuesto #telefono:hover, #form_presupuesto #tipo-evento:hover, #form_presupuesto #fecha:hover, #form_presupuesto #lugar:hover, #form_presupuesto #submit:hover {
      border: 1px solid yellow; }
  #form_presupuesto #submit {
    border: 2px solid black;
    width: 95%;
    background-color: #fafcf8;
    font-weight: 500; }
    #form_presupuesto #submit:hover {
      background-color: yellow; }
  #form_presupuesto select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    background: url(../imagenes/flecha-hacia-abajo-para-navegar.png) 96%/20% no-repeat;
    background-size: 5%; }

.catering main {
  grid-area: a1 a3;
  height: 100%; }

.catering aside {
  grid-area: a2 a4; }

.catering {
  background-color: #fafcf8; }

.catering .carousel, .active, img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  transition: .3s;
  border-radius: 3px;
  overflow: hidden; }

.catering .infoMain p {
  animation-duration: 2s;
  display: block; }

.detalle {
  width: 95%;
  margin: auto;
  background-color: rgba(238, 10, 10, 0.753);
  color: #fafcf8;
  font-size: 0.9rem;
  padding: 2%;
  margin-top: 15px;
  margin-bottom: 100px;
  text-align: center; }

/* CONTACTO */
#contacto main {
  grid-area: a1;
  width: 70%; }
  #contacto main h2 {
    color: #fafcf8; }

#contacto {
  background: url(../imagenes/adam-birkett-pgLl73Jyhj0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  color: #fafcf8; }

#formC {
  width: 100%;
  display: inline-block; }

form input, textarea {
  display: block;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: #fafcf8;
  margin-top: 3%; }

textarea {
  color: black; }

input[type=text], [type=Email], [type=number] {
  height: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 2px #fafcf8 solid; }

input[type=text]:focus, [type=Email]:focus, [type=number]:focus {
  outline: none;
  border-color: yellow; }

#contacto input[type=submit], [type=reset] {
  width: 49%;
  border: 2px solid #fafcf8;
  background-color: transparent;
  float: right;
  margin: 2% 0.5% 5% 0.5%;
  color: #fafcf8; }

input[type=submit]:hover, [type=reset]:hover {
  border: 2px solid yellow;
  background-color: yellow;
  color: #080808;
  cursor: pointer; }

.infoContacto {
  grid-area: a2;
  width: 80%;
  height: 90%;
  margin: auto;
  font-size: 3rem;
  padding: 50px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.589); }

.datoscontacto {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-top: 1rem; }
  .datoscontacto i {
    letter-spacing: 10px;
    font-size: 1.3rem; }

.mapa {
  padding: 0;
  width: 100%;
  height: 480px;
  grid-area: a3 / span 2; }

/* MEDIA QUERY */
@media screen and (max-width: 480px) {
  h2 {
    text-align: center; }
  /* INDEX */
  body {
    grid-template-columns: 100vw;
    grid-template-rows: 0.2fr auto auto auto 0.2fr;
    grid-template-areas: "header" "main"   "aside" "otro" "footer"; }
  footer li {
    padding: 0;
    margin: 0; }
  #fondouno main {
    grid-area: main; }
  h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    width: 50%;
    margin: 10% auto;
    transition: font-size 0.2s ease-in-out; }
  .thin, #frase p, .detalle {
    font-size: 2.5rem;
    letter-spacing: 0; }
  header {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around; }
  #logo img {
    width: 70px;
    height: auto;
    margin: 13px 0 0 0; }
  #logo {
    position: absolute;
    top: 3px; }
  #Menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10%; }
  #navPrincipal {
    display: none;
    position: fixed;
    padding: 0;
    left: 0;
    right: 0;
    max-width: 480px;
    top: 60px;
    bottom: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.856); }
  nav :checked ~ #navPrincipal {
    bottom: 0%; }
  nav .icono-menu {
    display: block; }
  #Menu:checked ~ #navPrincipal {
    display: flex; }
  li {
    padding: 10px;
    text-align: center; }
  li a {
    font-size: 1.5rem; }
  #frase {
    background-color: rgba(248, 250, 252, 0.945);
    width: 100%;
    margin: auto;
    padding: 10%; }
  #frase p {
    font-size: 1rem;
    line-height: 21px; }
  #fondouno h4 {
    font-size: 1.3rem;
    margin: 2%; }
  section #reviews {
    width: 100vw;
    height: 250px;
    margin: 0;
    overflow: hidden; }
  .Carousel {
    width: 90vw; }
  #reseña {
    width: auto; }
  .resena {
    width: 80vw;
    margin: auto;
    padding: 0 5vw; }
    .resena p {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }
  @keyframes sliding {
    0% {
      transform: translateX(0vw); }
    25% {
      transform: translateX(-100vw); }
    35% {
      transform: translateX(-200vw); }
    50% {
      transform: translateX(-300vw); }
    75% {
      transform: translateX(-400vw); }
    95% {
      transform: translateX(-500vw); }
    100% {
      transform: translateX(0); } }
  .galeria {
    padding: 0; }
  .imgphoto, .overlay, .container_img, .text {
    width: 100vw; }
  #photos {
    height: 330vh; }
  .contenedor_icono button img {
    width: 35%; }
    .contenedor_icono button img:hover {
      width: 37%; }
  .like_heart, .comprar {
    filter: invert(100%);
    margin: 5%;
    width: 10%;
    height: auto; }
    .like_heart:hover, .comprar:hover {
      width: 70%; }
  #BotonCovid {
    font-size: 0.7rem;
    line-height: 0.8rem;
    width: 50px;
    transition: all 0.5s ease-in-out; }
  .container_img img {
    width: 100%; }
  /* NOSOTROS */
  #nosotros main {
    grid-area: main; }
  #nosotros aside {
    grid-area: aside; }
  #nosotros .galeria {
    grid-area: otro; }
  #nosotros h3 {
    text-align: center; }
  .span {
    padding: 5% 10%;
    overflow: scroll; }
    .span::-webkit-scrollbar {
      width: 0;
      background: transparent; }
  /* MENU */
  .menu main {
    grid-area: main; }
  #platos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: space-evenly;
    justify-content: center;
    column-gap: 2%;
    width: 100%;
    padding: 0;
    position: static;
    top: 0px; }
    #platos li {
      width: 100%;
      height: 100px;
      padding: 5% 10%;
      margin-top: 2%;
      border: none;
      background-size: cover;
      background-position: 50% 50%; }
      #platos li a {
        font-size: 1.5rem;
        color: #fafcf8;
        text-shadow: -1px 2px rgba(20, 7, 7, 0.849);
        font-weight: 400;
        background-image: none; }
      #platos li a:hover {
        color: yellow; }
      #platos li:hover {
        border: 1px solid rgba(250, 252, 248, 0.9); }
  #Entradas {
    background-image: url(../imagenes/vietnamesespringrolls.jpeg); }
  #Principal {
    background-image: url(../imagenes/Gyudon.jpeg); }
  #Sushi {
    background-image: url(../imagenes/chirashi.jpeg); }
  #Postres {
    background-image: url(../imagenes/melonbingsu.jpeg); }
  #Bebidas {
    background-image: url(../imagenes/drink.jpeg); }
  .table, th {
    display: none; }
  .table-platos {
    display: table;
    width: 100%;
    margin: auto; }
    .table-platos td {
      font-size: 0.9rem;
      line-height: 2rem; }
    .table-platos .RowDescripcion {
      font-size: 0.7rem;
      line-height: 1.5rem; }
  .ArtMenu {
    top: 70px;
    left: 85%;
    height: 75px;
    width: 70px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.075); }
    .ArtMenu:hover {
      height: 50vh;
      width: 70vw;
      top: 70px;
      left: 25%; }
      .ArtMenu:hover #textoMenuDia {
        height: 250px;
        bottom: 230px;
        padding: 2%;
        overflow: hidden;
        scrollbar-color: transparent; }
        .ArtMenu:hover #textoMenuDia p {
          display: inline-block;
          font-size: 0.8rem;
          line-height: 1rem; }
    .ArtMenu:hover img {
      display: inline; }
    .ArtMenu img {
      display: none;
      height: 100%;
      width: 100%; }
  #textoMenuDia {
    width: 100%;
    height: 100px;
    padding: 10%; }
    #textoMenuDia p {
      display: none; }
    #textoMenuDia h4 {
      font-size: 0.9rem;
      padding-top: 1rem; }
    #textoMenuDia h5 {
      font-size: .8rem;
      margin-bottom: 0; }
  /* CATERING */
  .catering main {
    grid-area: main;
    width: 90%;
    padding-bottom: 30px; }
  #form_presupuesto h5 {
    width: 100%; }
  #form_presupuesto #name, #form_presupuesto #email, #form_presupuesto #telefono, #form_presupuesto #tipo-evento, #form_presupuesto #fecha, #form_presupuesto #lugar {
    width: 100%; }
  #form_presupuesto #submit {
    width: 100%; }
  .catering aside {
    grid-area: aside; }
  .detalle {
    font-size: 0.9rem;
    width: 100%;
    margin: auto;
    margin-top: 15px; }
  /* CONTACTO */
  #contacto main {
    grid-area: main; }
  .infoContacto {
    grid-area: aside;
    height: 100%;
    padding-left: 0; }
    .infoContacto p {
      text-align: center; }
  input[type=submit], [type=reset] {
    width: 50%;
    margin: 2% auto; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr auto auto auto 0.2fr;
    grid-template-areas: "header" "main"  "aside"  "otro" "footer"; }
  #fondouno main {
    grid-area: main; }
  /* INDEX */
  h1 {
    font-size: 4rem;
    line-height: 3.5rem;
    width: 400px;
    margin: auto; }
  header {
    height: 120px;
    padding: 20px;
    flex-direction: column; }
  #logo img {
    width: 100px;
    margin: 0; }
  #Principal {
    width: 100%; }
  #navPrincipal {
    padding: 2%;
    justify-content: space-evenly; }
    #navPrincipal li {
      padding: 0; }
      #navPrincipal li a {
        font-size: 1rem; }
  #frase p {
    font-size: 1.2rem;
    line-height: 1.6rem; }
  h4 {
    font-size: 1.6rem; }
  .Carousel {
    width: 100vw;
    margin: auto; }
  #reseña {
    width: 300vw; }
  .resena {
    width: 40vw;
    margin: 1% 5vw; }
    .resena p {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical; }
  #reviews {
    height: 350px; }
  #photos .imgphoto, #photos .container_img, #photos .overlay, #photos .text {
    width: 40vw;
    margin: 0; }
  /*  NOSOTROS */
  #nosotros main {
    grid-area: main;
    padding: 2%; }
  #nosotros aside {
    grid-area: aside;
    height: 400px;
    padding: 2%; }
  .galeria {
    grid-area: otro; }
  .imgphoto {
    width: 50%;
    height: 300px; }
  .span {
    width: 100%;
    height: 250px;
    padding: 5% 10%; }
  /* CATERING */
  .catering main {
    grid-area: main;
    width: 90%;
    height: 600px; }
  .catering .side {
    grid-area: aside;
    width: 100%; }
  .catering .side img {
    width: 100%;
    height: 400px; }
  #form_presupuesto {
    width: 100%; }
  /* CONTACTO */
  #contacto main {
    grid-area: main; }
  #contacto aside {
    grid-area: aside; }
  .mapa {
    width: 100%;
    grid-area: otro; }
  .infoContacto {
    padding: 2%;
    font-weight: 100;
    line-height: 30px; }
    .infoContacto p {
      text-align: center; }
  /* MENU */
  .menu main {
    grid-area: main; }
  #navPrincipal {
    width: 100%; }
  #platos {
    top: 110px;
    width: 100%;
    align-items: space-between;
    margin: 0; }
    #platos li {
      width: 100%; }
      #platos li a {
        letter-spacing: 0; }
  .ArtMenu {
    top: 122px;
    left: 80%;
    height: 70px;
    width: 100px;
    overflow: hidden;
    box-shadow: -1px 3px rgba(0, 0, 0, 0.1); }
    .ArtMenu:hover {
      height: 200px;
      width: 150px;
      top: 132px;
      left: 75%; }
      .ArtMenu:hover #textoMenuDia {
        height: 70px;
        bottom: 70px;
        padding: 2%; }
        .ArtMenu:hover #textoMenuDia h4 {
          padding-top: 5%; }
    .ArtMenu:hover img {
      display: inline; }
    .ArtMenu img {
      display: none;
      height: 100%;
      width: 100%; }
  #textoMenuDia {
    width: 100%;
    height: 100px;
    padding: 10%;
    overflow: hidden; }
    #textoMenuDia p:nth-child(3) {
      display: none; }
    #textoMenuDia h4 {
      font-size: 0.9rem;
      padding-top: 15%; }
    #textoMenuDia h5 {
      font-size: .8rem;
      margin: 0; }
  .table {
    width: 90%; } }
